<section class="accordion section">
  <div class="container">
    <div class="accordion__wrapper">
      <p class="accordion__title title-section">שאלות נפוצות</p>
      <div class="accordion__body">
        <div class="accordion-item">
          <div class="accordion-item__trigger">
            <p>כמה זמן לוקח לבנות אתר?</p>
            <svg
              class="accordion-item__status--close"
              width="22"
              height="2"
              viewBox="0 0 22 2"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.08301 1H20.9163"
                stroke="#8A31EF"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <svg
              class="accordion-item__status--open"
              width="34"
              height="34"
              viewBox="0 0 34 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.08301 17H26.9163"
                stroke="#8A31EF"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M17.0049 7.08789L17.0049 26.9212"
                stroke="#8A31EF"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="accordion-item__body">
            עד 10 ימי עבודה מרגע אישור החומרים.
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item__trigger">
            <p>זה כולל כתיבת טקסטים?</p>
            <svg
              class="accordion-item__status--close"
              width="22"
              height="2"
              viewBox="0 0 22 2"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.08301 1H20.9163"
                stroke="#8A31EF"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <svg
              class="accordion-item__status--open"
              width="34"
              height="34"
              viewBox="0 0 34 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.08301 17H26.9163"
                stroke="#8A31EF"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M17.0049 7.08789L17.0049 26.9212"
                stroke="#8A31EF"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="accordion-item__body">
            כן, אני כותב עבורך את המסרים שמוכרים.
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item__trigger">
            <p>כמה זה עולה?</p>
            <svg
              class="accordion-item__status--close"
              width="22"
              height="2"
              viewBox="0 0 22 2"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.08301 1H20.9163"
                stroke="#8A31EF"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <svg
              class="accordion-item__status--open"
              width="34"
              height="34"
              viewBox="0 0 34 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.08301 17H26.9163"
                stroke="#8A31EF"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M17.0049 7.08789L17.0049 26.9212"
                stroke="#8A31EF"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="accordion-item__body">
            המחיר משתנה לפי היקף הפרויקט – אבל תמיד מותאם לעסקים קטנים. תקבל
            הצעת מחיר מסודרת אחרי שיחת היכרות קצרה.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
