<section class="section section-features">
  <img
    src="assets/images/blob2.png"
    class="section-features__blob-left"
    alt="blob"
  />
  <img
    src="assets/images/blob1.png"
    class="section-features__blob-right"
    alt="blob"
  />
  <div class="container">
    <div class="section-features__wrapper">
      <h2 class="section-features__title title-section">מה כלול</h2>
      <div class="section-features__grid">
        <div class="section-features__grid-item">
          <div class="section-features__grid-item-check">
            <svg
              width="10"
              height="7"
              viewBox="0 0 10 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 1L3.5 6L1 3.72727"
                stroke="#424242"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="section-features__grid-item-body">
            <p class="section-features__grid-item-title">
              דף בית שגורם לאנשים לפנות
            </p>
            <img
              src="assets/images/sec3/img2.png"
              alt="icon"
              class="section-features__grid-item-img"
            />
          </div>
        </div>
        <div class="section-features__grid-item">
          <div class="section-features__grid-item-check">
            <svg
              width="10"
              height="7"
              viewBox="0 0 10 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 1L3.5 6L1 3.72727"
                stroke="#424242"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="section-features__grid-item-body">
            <p class="section-features__grid-item-title">
              משיכת לידים במצב אוטומטי
            </p>
            <img
              src="assets/images/sec3/img1.png"
              alt="icon"
              class="section-features__grid-item-img"
            />
          </div>
        </div>
        <div class="section-features__grid-item">
          <div class="section-features__grid-item-check">
            <svg
              width="10"
              height="7"
              viewBox="0 0 10 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 1L3.5 6L1 3.72727"
                stroke="#424242"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="section-features__grid-item-body">
            <p class="section-features__grid-item-title">
              טקסטים שכתובים להמרה
            </p>
            <img
              src="assets/images/sec3/img4.png"
              alt="icon"
              class="section-features__grid-item-img"
            />
          </div>
        </div>
        <div class="section-features__grid-item">
          <div class="section-features__grid-item-check">
            <svg
              width="10"
              height="7"
              viewBox="0 0 10 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 1L3.5 6L1 3.72727"
                stroke="#424242"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="section-features__grid-item-body">
            <p class="section-features__grid-item-title">מעקב + חיווי תוצאות</p>
            <img
              src="assets/images/sec3/img3.png"
              alt="icon"
              class="section-features__grid-item-img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
