<section class="section section-fit-for-you">
  <div class="container">
    <div class="section-fit-for-you__wrapper">
      <div class="section-fit-for-you__inner">
        <h2 class="section-fit-for-you__title title-section">מתאים לך?</h2>
        <p class="section-fit-for-you__subtitle">
          השאר פרטים או שלח לי הודעה בוואטסאפ
        </p>
        <div class="section-fit-for-you__box">
          <img
            src="assets/images/sec6/img-main-mobill2.png"
            class="section-fit-for-you__img-main-mobill"
            alt="img"
          />
          <img
            src="assets/images/sec6/img-main.svg"
            class="section-fit-for-you__img-main"
            alt="img"
            width="556"
            height="230"
          />
          <img
            src="assets/images/sec6/img1.png"
            class="section-fit-for-you__img-top"
            alt="img"
          />
          <img
            src="assets/images/sec6/img2.png"
            class="section-fit-for-you__img-bottom"
            alt="img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
