<section class="section section-hero">
  <div class="container">
    <div class="section-hero__wrapper">
      <!-- <img src="assets/images/hero-bg.jpg" class="section-hero__bg" alt="bg" /> -->
      <img
        src="assets/images/hero-bg-hand.png"
        class="section-hero__bg-hand"
        alt="hend"
        width="456"
        height="600"
      />
      <img
        src="assets/images/hero-bg-hand-mobill.png"
        class="section-hero__bg-hand--mobill"
        alt="hend"
      />
      <div class="section-hero__text-box">
        <h1 class="section-hero__title">
          נמאס לך לשפוך זמן
          <br />על עסק שלא מזרים לידים?
        </h1>
        <p class="section-hero__subtitle">
          אתה לא צריך עוד אתר יפה. אתה צריך אתר שמכניס כסף. ואת זה אני בונה לך.
        </p>
      </div>
    </div>
  </div>
</section>
