<section class="section section-services">
  <div class="container">
    <div class="section-services__wrapper">
      <h2 class="section-services__title title-section">מה אנחנו מציעים</h2>
      <div class="section-services__columns">
        <div class="section-services__item">
          <div class="section-services__item-wrapper">
            <img
              src="assets/images/sec2/img3.png"
              class="section-services__item-img"
              width="111"
              height="111"
              alt="icon"
            />
            <p class="section-services__item-title">לידים תוך 45 יום</p>
          </div>
        </div>

        <div class="section-services__item">
          <div class="section-services__item-wrapper">
            <img
              src="assets/images/sec2/img2.png"
              class="section-services__item-img"
              width="111"
              height="111"
              alt="icon"
            />
            <p class="section-services__item-title">אתר מוכן תוך 7 ימים</p>
          </div>
        </div>
        <div class="section-services__item section-services__item--blue">
          <div class="section-services__item-wrapper">
            <img
              src="assets/images/sec2/img1.png"
              class="section-services__item-img"
              width="111"
              height="111"
              alt="icon"
            />
            <p class="section-services__item-title">
              אם לא? מקבל את הכסף חזרה.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
