<section class="section section-services">
  <div class="container">
    <div class="section-services__wrapper">
      <h2 class="section-services__title title-section">
        מה אנחנו עושים אחרת?
      </h2>
      <p class="section-services__subtitle">
        לא בונים סתם אתר. בונים מסלול של לקוח שנכנס ויוצא ליד.
      </p>
      <div class="section-services__columns">
        <div class="section-services__item">
          <div class="section-services__item-wrapper">
            <img
              src="assets/images/sec2/img4.png"
              class="section-services__item-img"
              width="111"
              height="111"
              alt="icon"
            />
            <p class="section-services__item-title">
              אתר שמבוסס על הצרכים של הלקוח שלך
            </p>
          </div>
        </div>
        <div class="section-services__item">
          <div class="section-services__item-wrapper">
            <img
              src="assets/images/sec2/img3.png"
              class="section-services__item-img"
              width="111"
              height="111"
              alt="icon"
            />
            <p class="section-services__item-title">מסרים ישירים ולעניין</p>
          </div>
        </div>

        <div class="section-services__item">
          <div class="section-services__item-wrapper">
            <img
              src="assets/images/sec2/img2.png"
              class="section-services__item-img"
              width="111"
              height="111"
              alt="icon"
            />
            <p class="section-services__item-title">
              עיצוב נקי, ממוקד ומניע לפעולה
            </p>
          </div>
        </div>

        <div class="section-services__item">
          <div class="section-services__item-wrapper">
            <img
              src="assets/images/sec2/img1.png"
              class="section-services__item-img"
              width="111"
              height="111"
              alt="icon"
            />
            <p class="section-services__item-title">
              זמן פיתוח קצר ותוצאה מהירה
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
