<section class="section section-why-us">
  <div class="container">
    <div class="section-why-us__wrapper">
      <img
        src="assets/images/sec4-bg.jpg"
        alt="bg"
        class="section-why-us__bg"
      />
      <h2 class="section-why-us__title title-section">למה זה שונה</h2>
      <div class="section-why-us__columns">
        <div class="section-why-us__rows">
          <div class="section-why-us__row">
            <div class="section-why-us__row-wrapper">
              <img
                src="assets/images/sec4/img223.png"
                alt="img"
                width="66"
                height="66"
              />
              <p class="section-why-us__row-title">אין התחייבות ריקה.</p>
            </div>
          </div>
          <div class="section-why-us__row">
            <div class="section-why-us__row-wrapper">
              <img
                src="assets/images/sec4/img323.png"
                alt="img"
                width="66"
                height="66"
              />
              <p class="section-why-us__row-title">אין התחייבות ארוכה.</p>
            </div>
          </div>

          <div class="section-why-us__row">
            <div class="section-why-us__row-wrapper">
              <img
                class="section-why-us__img--margin"
                src="assets/images/sec4/img423.png"
                alt="img"
                width="66"
                height="66"
              />
              <p class="section-why-us__row-title">יש רק תוצאה או החזר.</p>
            </div>
          </div>
        </div>
        <img
          class="section-why-us__img-big"
          src="assets/images/sec4/img12.svg"
          alt="img"
          width="616"
          height="392"
        />
      </div>
    </div>
  </div>
</section>
