<section class="section section-why-us">
  <div class="container">
    <div class="section-why-us__wrapper">
      <img
        src="assets/images/sec4-bg.jpg"
        alt="bg"
        class="section-why-us__bg"
      />
      <h2 class="section-why-us__title title-section">מה תקבלו?</h2>
      <div class="section-why-us__columns">
        <div class="section-why-us__column">
          <div class="section-why-us__column-img">
            <img src="assets/images/sec3/img2.png" alt="img" />
          </div>
          <p class="section-why-us__column-title">
            אתר עסקי מלא – תוך 7 ימי עבודה
          </p>
          <div class="section-why-us__column-tag">
            <p>ככולל עיצוב, תוכן, בנייה והטמעה.</p>
          </div>
          <div class="section-why-us__column-tag">
            <p>מחיר הוגן, תוצאה מהירה, ליווי צמוד.</p>
          </div>
        </div>
        <div class="section-why-us__column">
          <div class="section-why-us__column-img">
            <img src="assets/images/sec3/img1.png" alt="img" />
          </div>
          <p class="section-why-us__column-title">
            קידום לאתר העסקי שלכם – תוצאות ראשונות תוך 40 יום
          </p>
          <div class="section-why-us__column-tag">
            <p>
              כולל אסטרטגיה שיווקית, קמפיינים ממוקדים, לידים חמים והחזר השקעה
              מהיר.
            </p>
          </div>
          <div class="section-why-us__column-tag">
            <p>עבודה שקופה, מחיר הוגן, ליווי אישי וצמוד.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
