@use "../base/variables" as *;

// footer
.footer {
  padding: 40px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
  }

  &__cop {
  }

  &__list {
    display: flex;
    gap: 10px;
    li {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  @media (max-width: $breakpoint-md) {
    padding: 25px 0;
    &__wrapper {
      font-size: 8px;
    }
  }
  @media (max-width: 415px) {
    padding: 30px 0;
    &__wrapper {
      flex-direction: column;
      ul {
        flex-direction: column;
        align-items: center;
        gap: 0;
      }
    }
  }
}
