/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Simpler Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background: #fbf5ff;
  color: #424242;
}

main {
  flex: 1;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .container {
    max-width: 904px;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 687px;
  }
}
@media (max-width: 415px) {
  .container {
    max-width: 315px;
    padding: 0;
  }
}

.title-section {
  font-weight: 900;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #424242;
}
@media (max-width: 1024px) {
  .title-section {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title-section {
    font-size: 29px;
  }
}
@media (max-width: 415px) {
  .title-section {
    font-size: 28px;
  }
}

.section {
  margin-bottom: 120px;
}
@media (max-width: 1024px) {
  .section {
    margin-bottom: 90px;
  }
}
@media (max-width: 768px) {
  .section {
    margin-bottom: 67px;
  }
}
@media (max-width: 415px) {
  .section {
    margin-bottom: 86px;
  }
}

.button-sticy {
  position: fixed;
  bottom: 20px;
  left: 50%;
  backdrop-filter: blur(22.8999996185px);
  background: rgba(138, 49, 239, 0.08);
  border-radius: 56px;
  padding: 15px;
  transform: translateX(-50%);
  transition: all 0.3s;
  white-space: nowrap;
}
.button-sticy button {
  padding: 16px 31px;
  background-color: #8a31ef;
  color: #fff;
  border-radius: 49px;
  box-shadow: 0 9px 24px 0 rgba(138, 49, 239, 0.33);
  font-size: 24px;
}
@media (max-width: 768px) {
  .button-sticy {
    border-radius: 42px;
  }
  .button-sticy button {
    border-radius: 37px;
    padding: 11px 23px;
    font-size: 17px;
  }
}
@media (max-width: 415px) {
  .button-sticy {
    border-radius: 56px;
  }
  .button-sticy button {
    border-radius: 49px;
    padding: 16px 31px;
    font-size: 20px;
  }
}

@media (max-width: 415px) {
  .button-sticy.active {
    transform: translateX(-50%) translateY(-120px);
  }
}
.footer {
  padding: 40px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
}
.footer__list {
  display: flex;
  gap: 10px;
}
.footer__list li {
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer {
    padding: 25px 0;
  }
  .footer__wrapper {
    font-size: 8px;
  }
}
@media (max-width: 415px) {
  .footer {
    padding: 30px 0;
  }
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__wrapper ul {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 0;
}
.header__phone {
  font-weight: 400;
  font-size: 32px;
  line-height: 122%;
  color: #8a31ef;
}
@media (max-width: 1024px) {
  .header__wrapper {
    padding: 40px 0;
  }
  .header__logo {
    max-width: 103px;
  }
  .header__phone {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .header__wrapper {
    padding: 45px 0 26px 0;
  }
  .header__logo {
    max-width: 78px;
  }
  .header__phone {
    font-size: 17px;
  }
}
@media (max-width: 415px) {
  .header__wrapper {
    padding: 30px 0;
  }
  .header__logo {
    max-width: 81px;
  }
  .header__phone {
    font-size: 20px;
    transform: translateY(6px);
  }
}

.section-hero__bg-hand {
  position: absolute;
  bottom: 0;
  left: 45px;
  width: 456px;
  height: 600px;
}
.section-hero__bg-hand--mobill {
  display: none;
}
.section-hero__wrapper {
  height: 680px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  padding-right: 120px;
  background-image: url("../assets/images/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-hero__text-box {
  position: absolute;
  top: 50%;
  transform: translateY(-52%);
  color: #424242;
}
.section-hero__title {
  font-weight: 900;
  font-size: 59px;
  line-height: 100%;
  letter-spacing: -0.03em;
  max-width: 790px;
  margin-bottom: 36px;
}
.section-hero__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  max-width: 385px;
}
@media (max-width: 1024px) {
  .section-hero__bg-hand {
    left: 7px;
    width: 312px;
    height: 411px;
  }
  .section-hero__wrapper {
    height: 446px;
    padding-right: 57px;
    background-position: bottom;
  }
  .section-hero__text-box {
    transform: translateY(-52%);
  }
  .section-hero__title {
    margin-bottom: 27px;
    font-size: 46px;
  }
  .section-hero__subtitle {
    max-width: 261px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .section-hero__bg-hand {
    width: 234px;
    height: 308px;
  }
  .section-hero__wrapper {
    height: 339px;
    padding-right: 41px;
  }
  .section-hero__text-box {
    transform: translateY(-60%);
  }
  .section-hero__title {
    font-size: 34px;
    margin-bottom: 21px;
  }
  .section-hero__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 415px) {
  .section-hero__bg-hand {
    display: none;
  }
  .section-hero__bg-hand--mobill {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-hero .container {
    max-width: 100%;
    padding: 0;
  }
  .section-hero__wrapper {
    height: 641px;
    padding-right: 0;
    padding: 32px 0 0 0;
    text-align: center;
    background-image: url("../assets/images/hero-bg-mobill.png");
  }
  .section-hero__text-box {
    transform: translateY(0);
    position: static;
    max-width: 258px;
    margin: 0 auto;
  }
  .section-hero__title {
    font-size: 32px;
    margin-bottom: 14px;
  }
}

.section-services__title {
  margin-bottom: 55px;
}
.section-services__columns {
  display: flex;
  gap: 30px;
  width: max-content;
  margin: 0 auto;
}
.section-services__item {
  width: 328px;
  height: 251px;
  border: 1px solid #8a31ef;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-services__item--blue {
  background-color: #8a31ef;
  color: #fff;
}
.section-services__item--blue .section-services__item-wrapper {
  transform: translateY(5px);
}
.section-services__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transform: translateY(-7px);
}
.section-services__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  max-width: 222px;
}
@media (max-width: 1024px) {
  .section-services__title {
    margin-bottom: 40px;
  }
  .section-services__columns {
    gap: 20px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .section-services__title {
    margin-bottom: 30px;
  }
  .section-services__columns {
    gap: 15px;
  }
  .section-services__item {
    width: 206px;
    height: 188px;
    border-radius: 15px;
  }
  .section-services .section-services__item-wrapper {
    transform: translateY(0);
  }
  .section-services__item-wrapper {
    gap: 15px;
  }
  .section-services__item-img {
    width: 83px;
    height: 83px;
  }
  .section-services__item-title {
    font-size: 17px;
    max-width: 146px;
  }
}
@media (max-width: 415px) {
  .section-services__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 188px 140px;
    gap: 25px, 20px;
  }
  .section-services__item {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .section-services__item:nth-child(3) {
    grid-column: span 2;
  }
  .section-services__item--blue .section-services__item-wrapper {
    flex-direction: row;
    gap: 20px;
  }
  .section-services__item--blue .section-services__item-title {
    max-width: 140px;
    text-align: start;
  }
  .section-services__item-wrapper {
    gap: 10px;
  }
  .section-services__item-img {
    width: 80px;
    height: 80px;
  }
  .section-services__item-title {
    font-size: 20px;
    max-width: 100px;
  }
}

.section-features {
  position: relative;
}
.section-features__blob-left {
  position: absolute;
  top: 300px;
  left: -216px;
}
.section-features__blob-right {
  position: absolute;
  top: -500px;
  right: -1600px;
}
.section-features__title {
  margin-bottom: 50px;
}
.section-features__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 245px;
  gap: 20px;
}
.section-features__grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(53.9000015259px);
  box-shadow: 0 4px 43px 0 rgba(0, 0, 0, 0.04);
  background: rgba(255, 255, 255, 0.36);
  border-radius: 50px;
  position: relative;
  padding: 0 52px;
}
.section-features__grid-item-check {
  width: 24px;
  height: 24px;
  background-color: #c6f806;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 20px;
  right: 20px;
}
.section-features__grid-item-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section-features__grid-item-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #424242;
  max-width: 258px;
}
@media (max-width: 1024px) {
  .section-features {
    margin-bottom: 80px;
  }
  .section-features__title {
    margin-bottom: 40px;
  }
  .section-features__grid {
    grid-auto-rows: 197px;
  }
  .section-features__grid-item {
    padding: 0 25px;
    border-radius: 20px;
  }
  .section-features__grid-item-check {
    top: 25px;
    right: 30px;
  }
  .section-features__grid-item-img {
    width: 174px;
  }
  .section-features__grid-item-title {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .section-features {
    margin-bottom: 57px;
  }
  .section-features__blob-left {
    top: -150px;
    left: -316px;
  }
  .section-features__title {
    margin-bottom: 30px;
  }
  .section-features__grid {
    grid-auto-rows: 147px;
  }
  .section-features__grid-item {
    padding: 0 22px 0 17px;
  }
  .section-features__grid-item-check {
    width: 18px;
    height: 18px;
    top: 18px;
    right: 22px;
  }
  .section-features__grid-item-img {
    max-width: 130px;
  }
  .section-features__grid-item-title {
    font-size: 17px;
  }
}
@media (max-width: 415px) {
  .section-features {
    margin-bottom: 86px;
  }
  .section-features__grid {
    gap: 30px;
    grid-template-columns: 1fr;
    grid-auto-rows: 285px;
  }
  .section-features__grid-item {
    padding: 20px;
  }
  .section-features__grid-item:nth-child(4) .section-features__grid-item-title {
    transform: translateY(-10px);
  }
  .section-features__grid-item-body {
    flex-direction: column;
    align-items: start;
  }
  .section-features__grid-item-check {
    width: 24px;
    height: 24px;
    top: 24px;
    right: 20px;
  }
  .section-features__grid-item-img {
    max-width: 100%;
    width: 100%;
    height: 177px;
    object-fit: contain;
  }
  .section-features__grid-item-title {
    font-size: 24px;
    max-width: 240px;
    margin-bottom: 15px;
    margin-right: 40px;
  }
}

.section-why-us__wrapper {
  border-radius: 50px;
  backdrop-filter: blur(53.9000015259px);
  box-shadow: 0 4px 43px 0 rgba(0, 0, 0, 0.04);
  background: #8a31ef;
  padding: 80px 40px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.section-why-us__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.section-why-us__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
.section-why-us__columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  max-width: 1046px;
  margin: 0 auto;
}
.section-why-us__img-big {
  min-width: 0;
  flex: 1 1 auto;
}
.section-why-us__rows {
  width: 400px;
  flex-shrink: 0;
}
.section-why-us__row {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 25px 35px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(153, 153, 153, 0.2) 100%);
}
.section-why-us__row:last-child {
  margin-bottom: 0;
}
.section-why-us__row-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.section-why-us__row-title {
  font-size: 24px;
  line-height: 110%;
  color: #fff;
}
.section-why-us__img--margin {
  transform: translateY(-4px);
}
@media (max-width: 1024px) {
  .section-why-us__wrapper {
    padding: 70px 54px;
  }
  .section-why-us__title {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .section-why-us__columns {
    gap: 39px;
  }
  .section-why-us__rows {
    width: 316px;
  }
  .section-why-us__row {
    padding: 10px 20px 10px 10px;
  }
  .section-why-us__row-wrapper img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .section-why-us__wrapper {
    border-radius: 37px;
    padding: 52px 40px;
  }
  .section-why-us__title {
    font-size: 29px;
    margin-bottom: 30px;
  }
  .section-why-us__columns {
    gap: 29px;
    max-width: 566px;
  }
  .section-why-us__rows {
    width: 237px;
  }
  .section-why-us__row {
    border-radius: 15px;
    margin-bottom: 15px;
  }
  .section-why-us__row-wrapper {
    gap: 10px;
  }
  .section-why-us__row-wrapper img {
    width: 37px;
    height: 37px;
  }
  .section-why-us__row-title {
    font-size: 17px;
  }
}
@media (max-width: 415px) {
  .section-why-us .container {
    max-width: 100%;
    padding: 0;
  }
  .section-why-us__wrapper {
    border-radius: 37px;
    padding: 90px 50px;
  }
  .section-why-us__columns {
    flex-direction: column-reverse;
    gap: 30px;
    max-width: 566px;
  }
  .section-why-us__rows {
    width: 100%;
  }
  .section-why-us__row {
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 22px 30px 22px 0;
  }
  .section-why-us__row-wrapper {
    gap: 25px;
  }
  .section-why-us__row-wrapper img {
    width: 54px;
    height: 54px;
  }
  .section-why-us__row-title {
    font-size: 20px;
  }
}

.section-testimonial {
  position: relative;
  user-select: none;
}
.section-testimonial__blob-left {
  position: absolute;
  top: -900px;
  left: -1500px;
}
.section-testimonial__blob-right {
  position: absolute;
  top: 300px;
  right: -80px;
  transform: scale(0.6);
}
.section-testimonial__title {
  margin-bottom: 50px;
}
.section-testimonial__box {
  backdrop-filter: blur(53.9000015259px);
  box-shadow: 0 4px 43px 0 rgba(0, 0, 0, 0.04);
  background: rgba(255, 255, 255, 0.36);
  border-radius: 50px;
  max-width: 830px;
  width: 100%;
  padding: 60px 0 36px 0;
  margin: 0 auto;
  margin-bottom: 40px;
}
.section-testimonial__quotes-top {
  position: absolute;
  top: -38px;
  right: 48px;
}
.section-testimonial__quotes-bottom {
  position: absolute;
  bottom: -32px;
  left: 50px;
}
@media (max-width: 1024px) {
  .section-testimonial__title {
    margin-bottom: 40px;
  }
  .section-testimonial__box {
    max-width: 690px;
    padding: 45px 0 27px 0;
  }
  .section-testimonial__quotes-top {
    right: -20px;
  }
  .section-testimonial__quotes-bottom {
    left: -20px;
  }
}
@media (max-width: 768px) {
  .section-testimonial__title {
    margin-bottom: 30px;
  }
  .section-testimonial__box {
    max-width: 517px;
    margin-bottom: 30px;
  }
  .section-testimonial__quotes-top {
    max-width: 77px;
    right: -15px;
    top: -30px;
  }
  .section-testimonial__quotes-bottom {
    max-width: 77px;
    left: -15px;
  }
  .section-testimonial__blob-right {
    top: auto;
    bottom: -650px;
    right: -253px;
  }
}
@media (max-width: 415px) {
  .section-testimonial__box {
    max-width: 315px;
    padding: 40px 0;
  }
  .section-testimonial__quotes-top {
    max-width: 61px;
    right: 21px;
    top: -16px;
  }
  .section-testimonial__quotes-bottom {
    max-width: 61px;
    left: 20px;
    bottom: -26px;
  }
}

.my-slider {
  width: 550px;
}
.my-slider__title {
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 122%;
  text-align: center;
  color: #424242;
  margin-bottom: 18px;
}
.my-slider__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 122%;
  text-align: center;
  margin-bottom: 3px;
}
.my-slider__text {
  font-size: 16px;
  line-height: 122%;
  text-align: center;
}
.my-slider__pagination {
  text-align: center;
}
.my-slider__button-prev {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8a31ef;
  border-radius: 100%;
  cursor: pointer;
}
.my-slider__button-prev svg {
  margin-right: 2px;
}
.my-slider__button-next {
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8a31ef;
  border-radius: 100%;
  cursor: pointer;
}
.my-slider__button-next svg {
  margin-left: 2px;
}
@media (max-width: 1024px) {
  .my-slider__title {
    font-size: 28px;
    margin-bottom: 33px;
  }
  .my-slider__button-prev {
    display: none;
  }
  .my-slider__button-next {
    display: none;
  }
}
@media (max-width: 768px) {
  .my-slider {
    max-width: 390px;
  }
  .my-slider__title {
    font-size: 20px;
    margin-bottom: 29px;
  }
  .my-slider__subtitle {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .my-slider__text {
    font-size: 11px;
  }
}
@media (max-width: 670px) {
  .my-slider__button-prev {
    display: none;
  }
  .my-slider__button-next {
    display: none;
  }
}
@media (max-width: 415px) {
  .my-slider {
    max-width: 258px;
  }
  .my-slider__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.my-slider__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #e2cbfd;
  transition: all 0.3s;
}

.my-slider__pagination .swiper-pagination-bullet-active {
  background-color: #8a31ef;
  width: 36px;
  border-radius: 250px;
}

@media (max-width: 768px) {
  .my-slider__pagination .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
  }
  .my-slider__pagination .swiper-pagination-bullet-active {
    width: 27px;
  }
}
.section-fit-for-you__wrapper {
  padding: 80px 0;
  border-radius: 50px;
  backdrop-filter: blur(53.9000015259px);
  box-shadow: 0 4px 43px 0 rgba(0, 0, 0, 0.04);
  background: rgba(255, 255, 255, 0.36);
}
.section-fit-for-you__title {
  margin-bottom: 20px;
}
.section-fit-for-you__subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
  max-width: 484px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.section-fit-for-you__box {
  position: relative;
  width: 100%;
  max-width: 556px;
  margin: 0 auto;
}
.section-fit-for-you__img-main {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  position: relative;
  z-index: 1;
}
.section-fit-for-you__img-main-mobill {
  display: none;
}
.section-fit-for-you__img-top {
  position: absolute;
  top: -211px;
  right: -252px;
}
.section-fit-for-you__img-bottom {
  position: absolute;
  bottom: 60px;
  left: -215px;
}
.section-fit-for-you__btn {
  position: relative;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .section-fit-for-you__wrapper {
    padding: 70px 0;
  }
  .section-fit-for-you__title {
    margin-bottom: 10px;
  }
  .section-fit-for-you__subtitle {
    font-size: 28px;
    margin-bottom: 17px;
  }
  .section-fit-for-you__box {
    max-width: 406px;
  }
  .section-fit-for-you__img-main {
    transform: scale(1.2) translateY(10px);
  }
  .section-fit-for-you__img-top {
    top: -130px;
    right: -190px;
    height: 250px;
  }
  .section-fit-for-you__img-bottom {
    bottom: 70px;
    left: -150px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .section-fit-for-you__wrapper {
    padding: 54px 0;
  }
  .section-fit-for-you__title {
    margin-bottom: 7px;
  }
  .section-fit-for-you__subtitle {
    font-size: 20px;
    margin-bottom: -15px;
  }
  .section-fit-for-you__box {
    max-width: 304px;
  }
  .section-fit-for-you__img-main {
    transform: scale(1.2) translateY(30px);
  }
  .section-fit-for-you__img-top {
    top: -60px;
    right: -130px;
    height: 170px;
  }
  .section-fit-for-you__img-bottom {
    bottom: 80px;
    left: -120px;
    height: 150px;
  }
}
@media (max-width: 415px) {
  .section-fit-for-you {
    margin-bottom: 0;
  }
  .section-fit-for-you .container {
    max-width: 100%;
    padding: 20px;
  }
  .section-fit-for-you__wrapper {
    padding: 90px 20px;
  }
  .section-fit-for-you__title {
    margin-bottom: 16px;
  }
  .section-fit-for-you__subtitle {
    font-size: 20px;
    margin-bottom: 45px;
  }
  .section-fit-for-you__box {
    max-width: 313px;
  }
  .section-fit-for-you__img-main {
    transform: scale(1.2) translateY(36px);
    display: none;
  }
  .section-fit-for-you__img-top {
    top: -60px;
    right: -130px;
    height: 170px;
    display: none;
  }
  .section-fit-for-you__img-bottom {
    bottom: 80px;
    left: -120px;
    height: 150px;
    display: none;
  }
  .section-fit-for-you__img-main-mobill {
    display: block;
    transform: scale(1.2);
  }
}

.trigger-fix-btn {
  width: 100vw;
  height: 1px;
  background-color: red;
}